.security-vulnerabilities {
  padding: 10px;
}

.security-table th:nth-child(3) {
  width: 40%;
}

.security-table th,
.security-table td {
  width: 8%;
}

/* Status indicators */
.fixed {
  background-color: #8bd38b;
}

.unfixed {
  background-color: #d79292;
}
