.workflow-runs {
  padding: 10px;
}

.workflow-table th:nth-child(1),
.workflow-table td:nth-child(1) {
  width: 25%;
}

.workflow-table th:nth-child(2),
.workflow-table td:nth-child(2) {
  width: 15%;
}

.workflow-table th:nth-child(3),
.workflow-table td:nth-child(3) {
  width: 15%;
}

.workflow-table th:nth-child(4),
.workflow-table td:nth-child(5) {
  width: 45%;
}
